@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
}
input[type="text"], input[type="email"] {
    font-size: 1.6rem;
    color: #010100;
    width: 100%;
    line-height: 65px;
    padding-left: 3rem;
}
select {
    width: 100%;
    height: 65px;
    color: #010100;
    padding-left: 3rem;
}
.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    margin: 20px;
}
#viz {
                width: 100%;
                height: 50%;
                border: 1px solid lightgray;
                font: 22pt arial;
    }
    #myLogFile {
        width: 100%;
        height: 50%;
        border: 1px solid lightgray;
        font: 10pt arial;
		font-size: 1.6rem;
}
.row1 {
    display: -ms-flexbox;
    /* display: flex; */
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    width: 100%;
    height: auto;
    /* align-items: center; */
}
*, ::after, ::before {
    box-sizing: border-box;
}
table {
    border-collapse: collapse;
    border: 2px black solid;
    font: 12px sans-serif;
}

td {
    border: 1px black solid;
    padding: 5px;
}
.h1, h1 {
    font-size: 36px;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
.text-white {
    color: #fff!important;
}
.font-w400 {
    font-weight: 400;
}
.padding-top-xl {
    padding-top: 5rem!important;
}
.padding-bottom-xl {
    padding-bottom: 5rem!important;
}
.margin-top-m {
    margin-top: 3rem!important;
}
.margin-bottom-m {
    margin-bottom: 3rem!important;
}
.section5 h2 {
    line-height: 35px;
}
.section5 p {
    font-size: 16px;
    line-height: 26px;
}
.has-error input[type="text"], .has-error input[type="email"], .has-error select {
    border: 1px solid #a94442;
}'' 
.panel {
  box-shadow: 0 2px 0 rgba(0,0,0,0.05);
  border-radius: 0;
  border: 0;
  margin-bottom: 24px;
}

.panel-dark.panel-colorful {
  background-color: #3b4146;
  border-color: #3b4146;
  color: #fff;
}

.panel-danger.panel-colorful {
  background-color: #f76c51;
  border-color: #f76c51;
  color: #fff;
}

.panel-primary.panel-colorful {
  background-color: #20B2AA;
  border-color: #20B2AA;
  color: #fff;
}

.panel-info.panel-colorful {
  background-color: #4ebcda;
  border-color: #4ebcda;
  color: #fff;
}

.panel-body {
  padding: 25px 20px;
}

.panel hr {
  border-color: rgba(0,0,0,0.1);
}

.mar-btm {
  margin-bottom: 15px;
}

h2, .h2 {
  font-size: 28px;
}

.small, small {
  font-size: 85%;
}

.text-sm {
  font-size: .9em;
}

.text-thin {
  font-weight: 300;
}

.text-semibold {
  font-weight: 600;
}

.topnav {
  background-color: indianred;
  overflow: hidden;
  text-align: right;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: goldenrod;
  color: white;
}

.activetd {
  background-color: goldenrod;
  color: white;
}
